<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">

</head>
<body>
<div class="container">
    <table id="myTableQ" class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-1">index</th>
            <th class="col-md-2">url</th>
            <th class="col-md-3">title</th>
            <th class="col-md-3">description</th>
            <th class="col-md-3">keywords</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td class="col-md-1">{{ loop.index }}</td>
            <td class="col-md-2"><a href="{{ item.url }}">{{ item.url }}</a></td>
            <td class="col-md-3">{{ item.title }}</td>
            <td class="col-md-3">{{ item.desc }}</td>
            <td class="col-md-3">{{ item.keywords }}</td>
        </tr>
        {% endfor %}

        </tbody>
        <tbody id="rest-placeholder">

        </tbody>
    </table>
    <!--<table id="restTable" class="table table-striped">-->
        <!--<tbody id="rest-placeholder">-->

        <!--</tbody>-->
    <!--</table>-->
</div>

    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='myJS/rest_results.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

    <script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>
</body>
</html>